html,body,*{
    font-size: 16px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    background-color: black;
    background-image: url("images/freakbob.gif");
}
.size{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 75%;
    ;
}

.Dong{
    background-color: red;
    height: auto;
    width: 450px;
    
    margin: 10px auto;
    padding: 25px;
    border-radius: 1cm;
}

.row{
    display: flex;
    width: 90%;
    margin: 2rem auto;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    
}

.col{
    display:flex;
    background-color: purple;
    margin: 3rem auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    width: 40%;

    border-radius: 1cm;
    border: 2px solid darkblue;

    /*flex: 23vw;
    padding: 5px*/
}


.Diddy{
    color:white;
}
#purple{
    color:purple;
}
h1{
    font-size: 32px;
    text-align: center;
    
}
